<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="DefaultApiUrl" value="http://localhost:8000" />
        <add key="DefaultRenderApiUrl" value="https://textlab-api.onrender.com" />
        <add key="ApplicationName" value="TextLab Client" />
        <add key="Version" value="1.0.0" />
        <add key="AutoSaveInterval" value="30" />
    </appSettings>
</configuration> 